
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

canvas{
    border: 1px solid black;
    margin: 0;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.9em 2em;   
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

#main-container{
position: absolute;
height: 800px;
width: 800px;
}

#control-panel{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
vertical-align: bottom;
height: 400px;
}

#gameplay-panel{
display: flex;
flex-direction: row;
vertical-align: bottom;
height: 100px;
}

#lifes-container{
display: flex;
align-items: center;
width: 400px;
height: 70px;
}

#lifes-container > img{
    width: 10%;
    padding: 0.6em;
}

#score-container{
display: flex;
font-size: 1.4em;
align-items: center;
justify-content: flex-end;
width: 400px;
height: 70px;
}

#score-container > span{
    margin-right: 2em;
}